<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <footer class="footer" style="box-sizing: border-box; width: 100%; padding: 10px; display: flex; justify-content: center; align-items: center; position: sticky; bottom: 0; left: 0; right: 0;">
    <hr/>
    <p>Dibuat oleh @muchammadfachrisyakur</p>
  </footer>
</body>
</html>