<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header style="width: 100%; box-sizing: border-box; padding: 10px 5px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; background-color: #0087ff; gap: 5px;">
  <p style="font-size: 25px; font-weight: bold; color: white;">Belajar Php</p>
  <a href="index.php">Home</a>
  <a href="login.php">Login</a>
  <a href="register.php">Register</a>
</header>
</body>
</html>